<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joycoho.concis.sys.modular.menu.dao.MenuMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.joycoho.concis.sys.modular.menu.entity.Menu">
		<id column="id" property="id" />
		<result column="code" property="code" />
		<result column="pcode" property="pcode" />
		<result column="pcodes" property="pcodes" />
		<result column="name" property="name" />
		<result column="icon" property="icon" />
		<result column="path" property="path" />
		<result column="num" property="num" />
		<result column="levels" property="levels" />
		<result column="ismenu" property="ismenu" />
		<result column="tips" property="tips" />
		<result column="status" property="status" />
		<result column="isopen" property="isopen" />
        <result column="app_code" property="appCode" />
	</resultMap>

    <sql id="Base_Column_List">
        id, code, pcode, name, icon, path, num, levels,pcodes,
        tips, status,isopen,ismenu, app_code
    </sql>

    <select id="selectMenus" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_menu
        where status = 1
        <if test="condition != null and condition != ''">
            and (name like CONCAT('%',#{condition},'%') or code like CONCAT('%',#{condition},'%'))
        </if>
        <if test="level != null and level != ''">
            and levels = #{level}
        </if>
    </select>

    <select id="getMenuIdsByRoleId" resultType="long">
        select menu_id from
        sys_relation where role_id = #{roleId}
    </select>


    <delete id="deleteRelationByMenu">
        delete from sys_relation where menu_id = #{menuId}
    </delete>

    <select id="getResUrlsByRoleId" resultType="string">
        select m.path from
        sys_relation rel
        inner join sys_menu m on rel.menu_id = m.id
        where rel.role_id = #{roleId}
    </select>

<!--    如果角色ID为空，那么不返回任何菜单数据-->
    <select id="getMenusByRoleIds" resultType="com.joycoho.concis.sys.modular.menu.entity.MenuNode">
        SELECT
        m1.id AS id,
        m1.icon AS icon,
        m1.code AS code,
        m1.pcode AS pcode,
        m1.pcodes AS pcodes,
        m1.app_code as appCode,
        (
        CASE
        WHEN (m2.id = 0 OR m2.id IS NULL) THEN
        0
        ELSE
        m2.id
        END
        ) AS parentId,
        m1.NAME as name,
        m1.path as path,
        m1.levels as levels,
        m1.ismenu as ismenu,
        m1.num as num
        FROM
        sys_menu m1
        LEFT join sys_menu m2 ON m1.pcode = m2.CODE
        INNER JOIN (
        SELECT
        ID
        FROM
        sys_menu
        WHERE
        ID IN (
        SELECT
        menu_id
        FROM
        sys_relation rela
        WHERE 1=1
        <choose>
            <when test="list != null and list.size > 0">
                and rela.role_id IN
                <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </when>
            <otherwise>
                and rela.role_id = 0
            </otherwise>
        </choose>
        )
        ) m3 ON m1.id = m3.id
        where 1=1
            <if test="ismenu != null">
                and m1.ismenu = #{ismenu}
            </if>
            <if test="appCode != null and appCode != ''">
                and m1.app_code = #{appCode}
            </if>
        order by levels,num asc
    </select>
<!--    查询某个角色包含的所有菜单ID-->
    <select id="selectMenuIdsByRoleId" parameterType="int" resultType="int">
        select menu_id from sys_relation
        where role_id = #{roleId}
    </select>
<!--    查询所有菜单-->
    <select id="getAllMenus" resultType="com.joycoho.concis.sys.modular.menu.entity.MenuNode">
        SELECT
        m1.id AS id,
        m1.icon AS icon,
        m1.code AS code,
        m1.pcode as pcode,
        (
        CASE
        WHEN (m2.id = 0 OR m2.id IS NULL) THEN
        0
        ELSE
        m2.id
        END
        ) AS parentId,
        m1.NAME as name,
        m1.path as path,
        m1.levels as levels,
        m1.ismenu as ismenu,
        m1.num as num
        FROM
        sys_menu m1
        LEFT join sys_menu m2 ON m1.pcode = m2. CODE
        where
        <choose>
            <when test="ismenu == null">
                1=1
            </when>
            <otherwise>
                m1.ismenu = #{ismenu}
            </otherwise>
        </choose>
        order by levels,num asc
    </select>
</mapper>
