<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joycoho.concis.sys.modular.role.dao.RoleMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.joycoho.concis.sys.modular.role.entity.Role">
		<id column="id" property="id" />
		<result column="sn" property="sn" />
		<result column="pid" property="pid" />
		<result column="name" property="name" />
		<result column="dept_id" property="deptId" />
		<result column="code" property="code" />
		<result column="version" property="version" />
	</resultMap>

	<sql id="Base_Column_List">
		id, sn, pid, name, code, deptid, tips, version
	</sql>

	<select id="selectRoles" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_role
		<if test="condition != null">
			where name like CONCAT('%',#{condition},'%')
		</if>
	</select>

	<delete id="deleteRolesById">
		delete from sys_relation where role_id = #{roleId}
	</delete>

	<select id="listTree" resultType="com.joycoho.concis.sys.modular.role.entity.RoleNode">
		select id, pid as parentId, name, code, sn, levels, (case when ( pid=0 or pid is null ) then 'true'
		else 'false' end) "open" from sys_role order by pid, sn ASC
	</select>

	<select id="listTreeByRoleIds" resultType="com.joycoho.concis.sys.modular.role.entity.RoleNode">
		SELECT
		r.id,
		r.pid AS parentId,
		r.`name`,
		r.code,
		r.sn,
		r.levels,
		(
		CASE
		WHEN (r.pid = 0 OR r.pid IS NULL) THEN
		'true'
		ELSE
		'false'
		END
		) "open",
		(
		CASE
		WHEN (r1.ID = 0 OR r1.ID IS NULL) THEN
		'false'
		ELSE
		'true'
		END
		) "checked"
		FROM
		sys_role r
		LEFT JOIN (
		SELECT
		ID
		FROM
		sys_role
		WHERE
		ID IN

		<foreach collection="array" index="index" item="i" open="(" separator="," close=")">
			#{i}
		</foreach>

		) r1 ON r.ID = r1.ID
		ORDER BY
		r.pid,
		r.sn ASC
	</select>
</mapper>
